html {
  background: #f5f4f4;
  font-size: 16px;
}
.leaflet-routing-alternatives-container {
  display: none !important;
}
.slick-slide {
  max-width: 100% !important;
  flex: 0 0 300px !important; /* Đảm bảo slide không co giãn */
}
.slick-slide {
  flex: 1 0 auto !important;
}

.loading-spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
